body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    background-color: #F2FFF5;
}
.container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #aaa;
}
select, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
}
button {
    background-color: #2f8f37;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #2f8f37;
}
button:disabled {
    background-color: #75739e;
    cursor: not-allowed;
  }