
.onbordhu{
    margin: 0;
    padding: 0;
    box-sizing: border-box;


  
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  .splash-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2FFF5;
    height: 100vh;
  }

  .logo {
    width: 200px;
    max-width: 80%;
    position: absolute;
    animation: driveAcross 5s ease-in-out forwards;
  }

  @keyframes driveAcross {
    0% {
      transform: translateX(-100%) scale(0.9);
      opacity: 0;
    }
    50% {
      transform: translateX(0%) scale(1);
      opacity: 1;
    }
    100% {
      transform: translateX(0%) scale(1);
      opacity: 1;
    }
  }
}